&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@0 {
			reg = <0x00000000 0x00040000>;
			label = "code_partition";
		};

		user_sketch: partition@0x40000 {
			reg = <0x00040000 0x001B2000>;
			label = "user";
		};
	};
};

/ {
	zephyr,user {
		digital-pin-gpios =
				<&ulpgpio 1 0>,  /* ULP_GPIO_1  - D0 */
				<&ulpgpio 2 0>,  /* ULP_GPIO_2  - D1 */
				<&ulpgpio 8 0>,  /* ULP_GPIO_8  - D2 */
				<&ulpgpio 10 0>, /* ULP_GPIO_10 - D3 */
				<&ulpgpio 11 0>, /* ULP_GPIO_11 - D4 */
				<&ulpgpio 9 0>,  /* ULP_GPIO_9  - D5 */
				<&ulpgpio 6 0>,  /* ULP_GPIO_6  - D6 - I2C SDA */
				<&gpioa 11 0>,   /* GPIO_11     - D7 */
				<&gpioa 7 0>,    /* GPIO_7      - D8 */

				<&gpiob 9 0>,   /* GPIO_25    - D9  - SPI CLK */
				<&gpiob 10 0>,  /* GPIO_26    - D10 - SPI MISO */
				<&gpiob 11 0>,  /* GPIO_27    - D11 - SPI MOSI */
				<&gpiob 12 0>,  /* GPIO_28    - D12 - SPI CS */
				<&gpiob 13 0>,  /* GPIO_29    - D13 */
				<&gpiob 14 0>,  /* GPIO_30    - D14 */
				<&ulpgpio 7 0>, /* ULP_GPIO_7 - D15 - I2C SCL */
				<&gpioa 6 0>,   /* GPIO_6     - D16 */
				<&gpioa 10 0>,  /* GPIO_10    - D17 */
				<&gpioa 12 0>,  /* GPIO_12    - D18 */

				<&gpioa 15 0>, /* GPIO_15 - D19 - Blue LED */
				<&gpiod 2 0>,  /* GPIO_50 - D20 - Red LED */
				<&gpiod 3 0>,  /* GPIO_51 - D21 - Green LED */

				<&uulpgpio 2 GPIO_ACTIVE_LOW>, /* UULP_GPIO_2 - D22 - Button 0 */
				<&gpiod 1 GPIO_ACTIVE_LOW>;    /* GPIO_49     - D23 - Button 1 */

		builtin-led-gpios = <&gpioa 15 GPIO_ACTIVE_LOW>;

		serials = <&ulpuart>;
		i2cs = <&ulpi2c>;
		spis = <&spi0>;
	};
};

&ulpuart {
	status = "okay";
};

zephyr_i2c: &ulpi2c {
	status = "okay";
};


&pinctrl0 {
	spi0_default: spi0_default {
		group0 {
			/* GSPI on GPIO25 -> GPIO28 */
			pinmux = <
				GSPI_CLK_HP25
				GSPI_MISO_HP26
				GSPI_MOSI_HP27
				GSPI_CS0_HP28
			>;
		};
	};
};

&spi0 {
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	status = "okay";
};

&wifi0 {
	status = "okay";
};

&rtc0 {
	status = "okay";
};

/ {
    chosen {
        zephyr,wifi = &wifi0;
		zephyr,rtc = &rtc0;
    };
};
