&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@0 {
			reg = <0x00000000 0x00040000>;
			label = "code_partition";
		};

		user_sketch: partition@0x40000 {
			reg = <0x00040000 0x001B2000>;
			label = "user";
		};
	};
};

/ {
	zephyr,user {
		digital-pin-gpios = <&gpioa 15 0>, /* D0 - Blue LED */
				<&gpiod 2 0>, /* D1 - Red LED */
				<&gpiod 3 0>, /* D2 - Green LED */

				<&ulpgpio 1 0>, /* D3 - SPI MOSI */
				<&ulpgpio 2 0>, /* D4 - SPI MISO */
				<&ulpgpio 8 0>, /* D5 - SPI SCK */
				<&ulpgpio 10 0>; /* D6 - SPI CS */

		builtin-led-gpios = <&gpioa 15 GPIO_ACTIVE_LOW>;

		serials = <&ulpuart>;
		i2cs = <&ulpi2c>;
	};
};

&ulpuart {
	status = "okay";
};

zephyr_i2c: &ulpi2c {
	status = "okay";
};

&wifi0 {
	status = "okay";
};

&rtc0 {
	status = "okay";
};

/ {
    chosen {
        zephyr,wifi = &wifi0;
		zephyr,rtc = &rtc0;
    };
};
