&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@0 {
			reg = <0x00000000 0x00040000>;
			label = "code_partition";
		};

		user_sketch: partition@0x40000 {
			reg = <0x00040000 0x001B2000>;
			label = "user";
		};
	};
};

/ {
	zephyr,user {
		digital-pin-gpios =
				<&ulpgpio 2 0>, /* ULP_GPIO_2 - D0 - Serial1 - ULP UART Rx */
				<&ulpgpio 7 0>, /* ULP_GPIO_7 - D1 - Serial1 - ULP UART Tx */
				<&gpiod 9 0>,   /* GPIO_57    - D2 */
				<&gpioa 7 0>,   /* GPIO_7     - D3 */
				<&gpiod 8 0>,   /* GPIO_56    - D4 */
				<&gpioa 12 0>,  /* GPIO_12    - D5 */
				<&gpioa 15 0>,  /* GPIO_15    - D6 */
				<&gpiod 5 0>,   /* GPIO_53    - D7 */
				<&gpiod 4 0>,   /* GPIO_52    - D8 */
				<&gpioa 10 0>,  /* GPIO_10    - D9 */
				<&gpioa 9 0>,   /* GPIO_9     - D10 - SPI CS */
				<&gpioa 6 0>,   /* GPIO_6     - D11 - SPI MOSI */
				<&gpioa 11 0>,  /* GPIO_11    - D12 - SPI MISO */
				<&gpioa 8 0>,   /* GPIO_8     - D13 - SPI CLK */

				<&ulpgpio 4 0>,  /* ULP_GPIO_4   - 14 - A0 */
				<&gpiob 9 0>,    /* GPIO_25      - 15 - A1 */
				<&ulpgpio 10 0>, /* ULP_GPIO_10  - 16 - A2 */
				<&ulpgpio 5 0>,  /* ULP_GPIO_5   - 17 - A3 */
				<&ulpgpio 0 0>,  /* ULP_GPIO_0   - 18 - A4 - ULP I2C SDA - QWIIC */
				<&ulpgpio 1 0>,  /* ULP_GPIO_1   - 19 - A5 - ULP I2C SCL - QWIIC */
				<&ulpgpio 6 0>,  /* ULP_GPIO_6   - 20 - A6 */
				<&ulpgpio 8 0>,  /* ULP_GPIO_8   - 21 - A7 */

				<&gpiob 12 GPIO_ACTIVE_LOW>, /* GPIO_28 - 22 - Red LED */
				<&gpiob 11 GPIO_ACTIVE_LOW>, /* GPIO_27 - 23 - Blue LED */
				<&gpiob 10 GPIO_ACTIVE_LOW>; /* GPIO_26 - 24 - Green LED */

		builtin-led-gpios = <&gpiob 10 GPIO_ACTIVE_LOW>;

		serials = <&uart0>, <&ulpuart>;
		i2cs = <&ulpi2c>;
		spis = <&spi0>;
	};
};

&pinctrl0 {
	spi0_default: spi0_default {
		group0 {
			/* GSPI on GPIO6 -> GPIO11 */
			pinmux = <
				GSPI_CLK_HP8
				GSPI_MISO_HP11
				GSPI_MOSI_HP6
				GSPI_CS0_HP9
			>;
		};
	};

	uart0_default: uart0_default {
		group0 {
			/* UART0 TX/RX on GPIO30/GPIO29 */
			pinmux = <
				UART0_TX_HP30
				UART0_RX_HP29
			>;
		};
	};

	ulpuart_default: ulpuart_default {
		group0 {
			/* ULPUART TX/RX on ULPGPIO7/ULPGPIO2 */
			pinmux = <
				ULPUART_TX_ULP7
				ULPUART_RX_ULP2
			>;
		};
	};

	ulpi2c_default: ulpi2c_default {
		group0 {
			/* ULPI2C SCL/SDA */
			pinmux = <
				ULPI2C_SCL_ULP1
				ULPI2C_SDA_ULP0
			>;
		};
	};
};

&spi0 {
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
	/delete-property/ hw-flow-control;
	status = "okay";
};

&ulpuart {
	pinctrl-0 = <&ulpuart_default>;
	pinctrl-names = "default";
	status = "okay";
};

zephyr_i2c: &ulpi2c {
	pinctrl-0 = <&ulpi2c_default>;
	pinctrl-names = "default";
	status = "okay";
};

&wifi0 {
	status = "okay";
};

&rtc0 {
	status = "okay";
};

/ {
    chosen {
        zephyr,wifi = &wifi0;
		zephyr,rtc = &rtc0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-pipe = &uart0;
    };
};
